version: "3"
services:
  mongo:
    image: mongo
    volumes:
      - ./data/db:/data/db
    ports:
      - 27018:27017
    restart: always
  mongo-express:
    depends_on:
      - mongo
    image: mongo-express
    links:
      - mongo
    ports:
      - 8081:8081
    restart: always
  game-server:
    build: .
    depends_on:
      - mongo
    entrypoint: 'npm run serve'
    env_file:
      - ./env/dev.env
    links:
      - mongo
    ports:
      - '5000:5000'
    restart: always
    volumes:
      - ./back/dist:/app/dist
      - ./back/package.json:/app/package.json
      - ./back/node_modules:/app/node_modules
      - ./back/src:/app/src
